# MySQL — game-service
MYSQL_ROOT_PASSWORD=secret
MYSQL_DATABASE=game_db
MYSQL_USER=game_user
MYSQL_PASSWORD=game_pass
MYSQL_PORT=3307

# game-service
GAME_SERVICE_PORT=8001

# audio-brain
AUDIO_BRAIN_PORT=8002
AUDIO_BRAIN_URL=http://audio-brain:8002

# frontend
FRONTEND_PORT=3000
